@model IEnumerable<DL.CategorySystem.Reporting.Categories.CategoryViewModel>

@if (Model.Any())
{
    <ul>
        @foreach (var c in Model)
        {
            <li>
                <a asp-area="" asp-controller="category" asp-action="index" 
                   asp-route-id="@c.CategoryId">
                    @c.Name
                </a>
                @Html.Partial("_CategoryMenuListPartial", c.Children)
            </li>
        }
    </ul>
}
